repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: hatch run test
        language: system
        pass_filenames: false
        always_run: true

      - id: execute-notebooks
        name: execute notebooks
        entry: bash -c 'for nb in documentation/models/*.ipynb; do hatch run python -m jupyter nbconvert --to notebook --execute --stdout "$nb" > /dev/null; done'
        language: system
        pass_filenames: false
        always_run: true
